<a href="https://colab.research.google.com/github/Abinash2555/Machine-Learning/blob/main/Predict_the_House_Prices_King_County.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import seaborn as sns

In [ ]:
house_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_data.csv')

In [ ]:
house_data.head()

      price  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
0  221900.0         3       1.00  ... -122.257           1340        5650
1  538000.0         3       2.25  ... -122.319           1690        7639
2  180000.0         2       1.00  ... -122.233           2720        8062
3  604000.0         4       3.00  ... -122.393           1360        5000
4  510000.0         3       2.00  ... -122.045           1800        7503

[5 rows x 19 columns]

In [ ]:
house_data.dtypes

price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [ ]:
# Separate input features and output feature
# input features
X = house_data.drop(columns = ['price'])       

# output feature
Y = house_data.price

In [ ]:
from sklearn.preprocessing import StandardScaler
scaled_features = StandardScaler().fit_transform(X)
scaled_features = pd.DataFrame(data=scaled_features)
scaled_features.columns= X.columns

# Let's see how the data looks after scaling
scaled_features.head()

   bedrooms  bathrooms  sqft_living  ...      long  sqft_living15  sqft_lot15
0 -0.390456  -1.399765    -0.966220  ... -0.300172      -0.943227   -0.278170
1 -0.390456   0.247653     0.570691  ... -0.747333      -0.423169   -0.205726
2 -1.457513  -1.399765    -1.419554  ... -0.127078       1.107286   -0.190319
3  0.676602   1.236104    -0.103781  ... -1.281041      -0.913509   -0.301845
4 -0.390456  -0.081830    -0.413375  ...  1.228829      -0.259722   -0.210680

[5 rows x 18 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(scaled_features, Y, test_size = 0.3, random_state = 42)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
predict = (model.predict(X_test).astype('int'))

In [ ]:
predict

array([586716, 355326, 837965, ..., 789390, 495467, 618916])

In [ ]:
 from sklearn.metrics import mean_squared_error
 mean_squared_error(predict,Y_test)

43010934212.95927

In [ ]:
eval_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_new_test_data.csv')

In [ ]:
from sklearn.preprocessing import StandardScaler
scaled_features = StandardScaler().fit_transform(X)
scaled_features = pd.DataFrame(data=scaled_features)
scaled_features.columns= eval_data.columns

# Let's see how the data looks after scaling
scaled_features.head()

   bedrooms  bathrooms  sqft_living  ...      long  sqft_living15  sqft_lot15
0 -0.390456  -1.399765    -0.966220  ... -0.300172      -0.943227   -0.278170
1 -0.390456   0.247653     0.570691  ... -0.747333      -0.423169   -0.205726
2 -1.457513  -1.399765    -1.419554  ... -0.127078       1.107286   -0.190319
3  0.676602   1.236104    -0.103781  ... -1.281041      -0.913509   -0.301845
4 -0.390456  -0.081830    -0.413375  ...  1.228829      -0.259722   -0.210680

[5 rows x 18 columns]

In [ ]:
result = model.predict(scaled_features)
result

array([212235.68280595, 710784.00187102, 397056.22834213, ...,
       330181.9064186 , 550365.34687843, 412128.63091881])

In [ ]:
result = pd.DataFrame(result,columns=['prediction'])
result.head()

      prediction
0  212235.682806
1  710784.001871
2  397056.228342
3  442926.214531
4  438232.982181

In [ ]:
result.to_csv('kingcountry.csv')